.company-information{
	.page-title{
		font-weight: normal;
		font-size: 14px;
		color: #2e2e2e;
		.company-name{
			label{
				display: block;
				max-width: 100%;
				margin-bottom: 0;
				font-weight: normal;
				line-height: 36px;
			}
		}
		.input-company-name{
			input{
				width: 100%;
			}
			select{
				width: 100%;
			}
		}
		.hr{
			margin-top: 35px;
		}
	}
	.title-form{
		text-align: center;
		margin: 0 auto;
		width: 75%;
		margin-bottom: 65px;
		@media (max-width: 820px){
			width: 100%;
		}
	}
	.plans{
		margin: 0 95px;
		.check-plan{
			width: 100%;
			display: block;
			&:not(:last-child){
				margin-bottom: 15px;
			}
			input[type="checkbox"] {
				display: none;
				+ label span {
					display: inline-block;
					width: 22px;
					height: 22px;
					margin-top: -1;
					vertical-align: middle;
					background: url(../images/nocheck-holidays.png) left top no-repeat;
					cursor: pointer;
				}
				&:checked + label span {
					background: url(../images/check-holidays.png) top no-repeat;
				}
			}
			label{
				font-weight: normal;
				font-size: 14px;
				color: #2e2e2e;
				margin: 0;
				span{
					margin-right: 20px;
				}
			}
		}
	}
}
