.container.main.welcome{
	padding-top: 50px;
    .buttons{
        width: 60%;
        margin: 0 auto;
        .goto{
            background-color: #FFE4E9;
            display: inline-block;
            width: 50%;
            text-align: center;
            padding: 30px;
            &:not(:last-child){
                width: calc(50% - 20px);
                margin-right: 15px;
            }
            button{
                color: #fff;
                border-radius: 0;
                background-color: #f1001e;
                border: 1px solid #f1001e;
                text-transform: uppercase;
                padding: 10px 40px;
                &:hover{
                    background-color: #fff;
                    color: #f1001e;
                }
                &:hover, &:focus, &:active{
                    outline: 0;
                }
                i{
                    margin-right: 15px;
                }
            }
        }
    }
}
