@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800";
@import "libraries/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css";
@import "libraries/normalize.css";
@import "libraries/select2.min.css";
@import "libraries/fileinput.min.css";
@import "contact-information";
@import "new-client";
@import "client-resourses";
@import "company-holidays";
@import "custom-homescreen";
@import "company-information";
@import "medical-benefits";

body {
  position: relative;
  margin: 0;
	padding-bottom: 52px;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

header{
	background-color: #fbfcfc;
	padding: 20px 0;
	.logo{
		img{
			margin: 0 auto;
		}
	}
}

.back-save{
	margin-bottom: 52px;
	button{
		color: #fff;
		border-radius: 0;
		&:hover, &:focus, &:active{
			outline: 0;
		}
	}
	.back{
		text-align: left;
		button{
			background-color: #808080;
			border: 1px solid #808080;
			&:hover{
				background-color: #fff;
				color: #808080;
			}
		}
	}
	.save{
		text-align: right;
		button{
			background-color: #f1001e;
			border: 1px solid #f1001e;
			&:hover{
				background-color: #fff;
				color: #f1001e;
			}
		}
	}
}

footer{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		hr.footer {
			border-width: 2px;
			border-color: #83898b;
			margin: 0;
		}
		p{
				margin: 15px auto;
				color: #979696;
		}

}
.container.main{
	padding-top: 30px;
	padding-bottom: 70px;
	input,
	select,
	textarea{
		box-shadow: none;
		border-radius: 0;
		border: 1px solid #efefef;
		border-bottom: 1px solid #f1001e;
		text-align: center;
		text-align-last: center;
		padding: 7px 10px;
		font-style: italic;
		font-weight: 300;
		&:hover,
		&:focus,
		&:active{
			outline: 0;
		}
		&:focus,
		&:active{
			border: 1px solid #f1001e;
		}
		::-webkit-input-placeholder {
			 color: #828282;
		}

		:-moz-placeholder { /* Firefox 18- */
			 color: #828282;
		}

		::-moz-placeholder {  /* Firefox 19+ */
			 color: #828282;
		}

		:-ms-input-placeholder {
			 color: #828282;
		}
	}
	select{
		color: #828282;
	}
	textarea{
		text-align: left;
		resize: vertical;
	}
	.page-title{
		margin-bottom: 45px;
		p{
			font-weight: 300;
			font-size: 18px;
			color: #2e2e2e;
			text-align: center;
		}
		div.hr {
			width: 100%;
			height: 1px;
			background: #dadbdc;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				border-style: solid;
				border-width: 15px 15px 0;
				border-color: #FFFFFF transparent;
				display: block;
				width: 0;
				z-index: 1;
				top: -1px;
				left: 50%;
			}
			&:before {
				content: '';
				position: absolute;
				border-style: solid;
				border-width: 15px 15px 0;
				border-color: #dadbdc transparent;
				display: block;
				width: 0;
				z-index: 1;
				top: 0px;
				left: 50%;
			}
		}
	}
	.button-add{
		button{
			color: #f1001e;
			background: none;
			border-radius: 0;
			border: 1px solid #f1001e;
			&:hover, &:focus, &:active{
				outline: 0;
			}
			&:hover{
				background-color: #f1001e;
				color: #fff;
			}
		}
	}
}
.form-title {
	background-color: #f1001e;
	padding: 15px 0;
	text-align: center;
	p{
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
}
