@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800";
@import "libraries/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css";
@import "libraries/normalize.css";
@import "libraries/select2.min.css";
@import "libraries/fileinput.min.css";
@import "contact-information";
@import "new-client";
@import "medical-benefits";


body {
  position: relative;
  margin: 0;
//  min-height: 100%;
	padding-bottom: 52px;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

header{
	background-color: #fbfcfc;
	padding: 20px 0;
	.logo{
		img{
			margin: 0 auto;
		}
	}
}

.back-save{
	margin-bottom: 52px;
	button{
		color: #fff;
		border-radius: 0;
		&:hover, &:focus, &:active{
			outline: 0;
		}
	}
	.back{
		text-align: left;
		button{
			background-color: #808080;
			border: 1px solid #808080;
			&:hover{
				background-color: #fff;
				color: #808080;
			}
		}
	}
	.save{
		text-align: right;
		button{
			background-color: #f1001e;
			border: 1px solid #f1001e;
			&:hover{
				background-color: #fff;
				color: #f1001e;
			}
		}
	}
}

footer{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		hr.footer {
			border-width: 2px;
			border-color: #83898b;
			margin: 0;
		}
		p{
				margin: 15px auto;
				color: #979696;
		}

}
.container.main{
	padding-top: 70px;
	padding-bottom: 70px;
	input,
	select,
	textarea{
		box-shadow: none;
		border-radius: 0;
		border: 1px solid #efefef;
		border-bottom: 1px solid #f1001e;
		text-align: center;
		padding: 7px 10px;
		font-style: italic;
		font-weight: 300;
		&:hover,
		&:focus,
		&:active{
			outline: 0;
		}
		&:focus,
		&:active{
			border: 1px solid #f1001e;
		}
	}
	textarea{
		text-align: left;
	}
}
.form-title {
	background-color: #f1001e;
	padding: 15px 0;
	text-align: center;
	p{
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
}
